@model IEnumerable<EntityLayer.Concrete.Product> 
@foreach (var item in Model)
{
<div class="container mt-5">

    <div class="row">
        <div class="col-sm-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                 class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="@item.Image" />
                    </div>
                </div>
            </div>
            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    loop: true,
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    loop: true,
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
            </script>

        </div>
        <div class="col-sm-6">
            <h3>@item.Title</h3>
            <p>
                @item.Description
            </p>
            <button id="teklif" type="button" class="btn btn-dark text-light btn-sm mt-3"><a href="/Product/Offer/@item.ProductID">Teklif İste</a></button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-2">
            <h5>Açıklama</h5>
        </div>
        <div class="col-sm-10">
            <p>
                @item.Details
            </p>
        </div>
    </div>
    <h5>Bilgi</h5>
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Renk</th>
            <th>Kullanım Alanı</th>
            <th>Kategori</th>
        </tr>
       
            <tr>
                <td>3</td>
                <td>2</td>
                <td>@item.Category.CategoryName</td>
                

            </tr>
        
    </table>
</div>
}
