@model EntityLayer.Concrete.Offer
@{
    ViewBag.Title = "AddNewOffer";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div style="padding:20px;">
    <h2>Teklif iste</h2>

    @using (Html.BeginForm("Index", "Offer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Label("Ad Soyad")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Ürün")
        @Html.DropDownListFor(x => x.ProductID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        @Html.Label("Telefon No")
        @Html.TextBoxFor(x => x.No, new { @class = "form-control" })
        <br />
        @Html.Label("Adres")
        @Html.TextAreaFor(x => x.Location, 10, 10, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">KAYDET</button>

    }
</div>
